// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#reviewPage {

    width: 800px;

    ul {
        list-style: none;
        padding: 0;
        li {
            display: inline-block;
            margin-right: 10px;
            font-size: 0.9em;

            &:first-child {
                font-weight: 600;
            }
        }
    }
}

#comments {
    border-top: 1px solid #e6e6e6;
    margin-top: 50px;
    padding: 20px 0;

    .comment {
        border-bottom: 1px solid #e6e6e6;
        padding: 10px 0;

        &:last-child {
            border: none;
        }

        .comment-header {
            p {
                display: inline-block;
                margin-right: 10px;

                &.username {
                    font-weight: 600;
                }
            }
        }

    }
}

#new_post {
    width: 800px;
    margin: 0 auto;

    textarea {
        resize: vertical;
    }

    select {
        width: 100px;
    }
}
