<!DOCTYPE html>
<html>
  <head>
    <title>ReviewOnRails</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>

  <body>
      <header>
          <div class="header-container">
              <h4 id="siteTitle">Review on Rails</h4>
          </div>
          <nav>
              <% if session[:user_id] %>
              <a href="/account">Account</a>
              <a href="/logout">Logout</a>
              <% else %>
              <a href="/register">Register</a>
              <a href="/login">Login</a>
              <% end %>
          </nav>
      </header>
      <main>
          <div id="sideBar">
              <nav>
                  <a href="/" data-toggle="tooltip" title="Home" data-placement="right">
                      <i class="fa fa-home" aria-hidden="true"></i>
                  </a>
                  <% if session[:user_id] %>
                  <a href="/post" data-toggle="tooltip" title="Submit review" data-placement="right">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </a>
                  <a href="account" data-toggle="tooltip" title="Account" data-placement="right">
                      <i class="fa fa-user" aria-hidden="true"></i>
                  </a>
                  <% end %>
              </nav>
          </div>
          <%= yield %>
      </main>
  </body>
</html>
